.titreFilm{
  text-align: center;
  font-size: 50;
}

.contenu{
  width: 80%;
  height: 80%;
  border: 5px solid rgb(111,41,97);
  border-radius: .5em;
  padding: 10px;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.rating{
  margin: auto;
}

.acteurs {
  margin: auto;
}
